/* ------------------------------------------------- */
/* HEADER                                            */
/* ------------------------------------------------- */
.main-header {
    display: flex;
    flex-direction: column;
    background-image: url(../../img/guitarra-portada.jpg);
    background-position: center;
    
    

    @media (max-width: 768px) {
        & { /* .main-header */
            flex-direction: column-reverse;
        }
    }
}

#menu {
    display: none;

    &:checked + .nav-bar {
        display: block;
    }

    &:checked ~ .search-bar .menu-toogle__label {
        background-color: yellow;
    }
}

/* ------------------------------------------------- */
/* NAVBAR                                            */
/* ------------------------------------------------- */

.nav-bar {
    width: 100%;
    height: 100px;
    
    

    &__nav-list { /* .nav-bar__nav-list */
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        
        

        @media (max-width: 768px) {
            & {
                flex-direction: column;
            }
        }
    }

    &__nav-item {
        text-align: center;
        
    }

    &__nav-link {
        display: block;
        margin-top: 25px;
        color: #fff;
        font-size: x-large;
        padding: 1em 2em;
        text-decoration: none;
    }

    @media (max-width: 768px) {
        & {
            display: none;
        }
    }
}


/* ------------------------------------------------- */
/* SEARCH BAR                                        */
/* ------------------------------------------------- */

.search-bar {
    width: 100%;
    height: 400px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-container, /* search-bar__logo-container */
    &__form-container { /* search-bar__form-container */
        padding: 4em;
    }

    &__logo-container {
        width: 200px;
        height: 185px;
        border-radius: 8px;
        margin-left: 15px;
        background-image: url(../../img/PlayHardLogoFinal.png);
        background-repeat: no-repeat;
        background-size: 100%;
        box-shadow: 8px 8px 5px 0px rgba(194, 191, 191, 0.75);
        
        @media (max-width: 768px) {
            & {
                display: none;
            }
        }
    }

    

    &__form-container {
        display: flex;
        flex-basis: 100%; /* width: 100% */
        justify-content: center
    }

    &__form-label {
        height: 10%;
        margin-right: 10px;
       font-size: x-large;
       font-weight: bolder;
       text-shadow: 2px 3px 1px rgba(248, 245, 245, 0.6)
        
    }

    &__form-search {
        background-color: white;
        width: 43%;
        height: 10%;
        
    }

    &__form-submit {
        background-color: darkslategray;
        color: white;
        height: 10%;
    }

    &__carrito-container {
        color: #fff;
        flex: 0 0 3em; /* shorthand (grow shrink basis)  basis = 3*16px => 48 */
        height: 15%;
    }
}


/* ------------------------------------------------- */
/* MENÚ TOOGLE                                       */
/* ------------------------------------------------- */

.menu-toogle {
    display: none;
    background-color: red;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;

    &__label {
        display: block;
        background-color: black;
        height: 100%;
    }

    &__top-bread,
    &__meat,
    &__bottom-bread {
        display: block;
        background-color: #333;
        height: .2em;
        position: absolute;
        left: .5em;
        right: .5em;
    }

    &__top-bread {
        top: .8em;
    }
    &__meat {
        top: 50%;
        margin-top: -.1em;
    }
    &__bottom-bread {
        bottom: .8em;
    }

    @media (max-width: 768px) {
        & {
            display: block;
        }
    }
}