@use '../utils/variables';


.header-contact{
    text-align: center;
    color: variables.$color-fuente-1;
    font-size: xx-large;
    margin-top: 2em;
    margin-bottom: 3em;
}


.section-contact{
    display: flex;
    justify-content: space-around;
    color: variables.$color-fuente-1;
    
    @media (max-width: 768px) {
        & { 
            flex-direction: column;
        }
    }
}

.contact,
.form{
    width: 500px;
    height: 500px;
    }






