@use "../utils/variables";

.header-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 300px;
    font-family: "Ysabeau SC", sans-serif;
    background-image: url(../../img/banda.jpg);
    background-position: 50% 53%;
    text-align: center;
    color: variables.$color-fuente-2;
    font-size: xx-large;
    margin-bottom: 2em;
    border-bottom: solid 3px variables.$color-fuente-1;
  
    @media (max-width: 768px) {
      & {
        display: none;
        justify-content: center;
        text-align: center;
        width: 100vh;
      }
    }
  
    &__logo-container {
      width: 200px;
      height: 195px;
      border-radius: 3px;
      background-image: url(../../img/PlayHardLogoFinal.png);
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: 100%;
      margin-top: 1em;
      margin-left: 1em;
  
      @media (max-width: 768px) {
        & {
          display: none;
        }
      }
    }
  
    &__title {
      display: block;
      padding-top: 1em;
    }
  }

  .section-nosotros{

    margin-left: 1em;

    &__title{
        color: variables.$color-fuente-2;
        margin-bottom: 20px;
    }

    &__p{
        color: variables.$color-fuente-1;
        margin-bottom: 20px;
    }
  }